* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mainSpan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem ;
}

.buttonsField{
    display: flex;
    align-items: center;
    margin: 2rem;
}