.selectionContainer{
    display: flex;
    height: 2rem;
    align-items: center;
    margin: 2rem 2rem;
}
.mainSelection{
    display:flex;
    width: 12rem;
    height: 100%;
    background-color: bisque;
    border: 2px solid green;

    align-items: center;
    justify-content: space-evenly;
    border-radius: 100px;
}
